<%- include('../header') %>
    <form action="/villagers/<%= result._id %>?_method=PUT" method="POST">
        <input type="text" name="catchphrase">
        <button type="submit">Save Change</button>
    </form>

    </body>

    </html>