<%- include('../header') %>
    <h2>Add Villager to your Island</h2>
    <form action="/users/<%= user._id %>/villagers" method="POST">
        <label>Name:
            <input type="text" name="name">
        </label><br>
        <label>Birthday:
            <input type="text" name="birthday">
        </label><br>
        <label>Species:
            <input type="text" name="species">
        </label><br>
        <label>Personality:
            <select name="personality">
                <option value="">Please Choose A Personality</option>
                <option value="Cranky">Cranky</option>
                <option value="Lazy">Lazy</option>
                <option value="Jock">Jock</option>
                <option value="Smug">Smug</option>
                <option value="Snooty">Snooty</option>
                <option value="Normal">Normal</option>
                <option value="Peppy">Peppy</option>
                <option value="Sisterly">Sisterly</option>
            </select>
        </label><br>
        <label>Catchphrase:
            <input type="text" name="catchphrase">
        </label><br>
        <label>Profile Picture url:
            <input type="text" name="profilepic">
        </label><br>
        <input type="submit" value="Add Villager">
    </form>
    </body>

    </html>